<!DOCTYPE html>

<html>

<head> 

	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<title>FALUYI (A.) ISAIAH</title>

</head>

<body>

	<! --- header section --->

	<section id="header">

		<div class="header container">

			<div class="nav-bar">

				<div class="brand">

					<a href="#hero"><h1><span>F</span>ALUYI <span>I</span>SAIAH</h1></a>

				</div>

				<div class="nav-list">

					<div class="hamburger"><div class="bar"></div></div>

					<ul>

						<li><a href="#hero" data-after="HOME">HOME</a></li>

						<li><a href="#services" data-after="services">Services</a></li>

						<li><a href="#projects" data-after="projects">Projects</a></li>

						<li><a href="#about" data-after="About">About</a></li>

						<li><a href="#contact" data-after="contacts">Contacts</a></li>

					</ul>

				</div>

			</div>

		</div>

		

	</section>



	<! --- header section --->



	<!-- hero section -->

	<section id="hero">

		<div class="hero container">

			<div>

				<h1>Hello,<span></span></h1>

				<h1>My Name is<span></span></h1>

				<h1>Isaiah<span></span></h1>

				<a href="#projects" type="button" class="cta">portfolio</a>

			</div>

		</div>

		

	</section>



	<!-- end of hero section -->



<!-- service section -->

<section id="services">

	<div class="services container">

	<div class="service-top">

			<h1 class="section-title">

				serv<span>i</span>ces

			</h1>

			<p>As an experienced Full Stack Web Developer with over 3 years in the industry, I offer a range of services to help you create dynamic and responsive web solutions. My expertise spans various technologies and tools, making me a one-stop destination for all your web development needs.</p>

		</div>

		

	<div class="service-bottom">

		<div class="service-item">

			<div class="icon"><img src="{{ url_for('static', filename='images/download (4).png')}}"></div>

		<div>

            <h2>Front-End Development</h2>

            <p>Elevate your web presence with my Front-End Development expertise. I specialize in creating visually stunning and responsive user interfaces that engage and captivate your audience. From HTML and CSS to Bootstrap 5 and JavaScript, I have the skills to transform your web design vision into a seamless and compelling user experience. Let's make your website stand out.</p>

		</div>

		</div>

		<div class="service-item">

			<div class="icon"><img src="{{ url_for('static', filename='images/download (4).png')}}"></div>

		

		<div>

            <h2>Back-End Development</h2>

            <p>Unlock the power of robust and efficient web applications with my Back-End Development expertise. I'm skilled in crafting the server-side components that drive the functionality of your website or application. From Flask and Python to RESTful APIs, I ensure seamless communication, data processing, and system reliability. Let's turn your web project into a high-performing digital masterpiece.</p>

		</div>

		</div>

		<div class="service-item">

			<div class="icon"><img src="{{ url_for('static', filename='images/download (4).png')}}"></div>

		

		<div>

            <h2>Full Stack Development </h2>

            <p>Experience end-to-end web solutions with my Full Stack Development capabilities. As an adept developer, I handle both the front-end and back-end aspects of your project, ensuring a seamless, user-friendly, and feature-rich web experience. From responsive front-end designs to powerful server-side components, I bring versatility and expertise to your digital vision. Let's transform your ideas into a fully functional, dynamic, and engaging online presence.</p>

		</div>

		</div>

		<div class="service-item">

			<div class="icon"><img src="{{ url_for('static', filename='images/download (4).png')}}"></div>

		

		<div>

            <h2>CMS Development</h2>

            <p>Simplify content management and take control of your website with my CMS Development skills. I specialize in creating custom content management systems tailored to your unique needs. Whether you require a user-friendly CMS for easy updates or a robust platform to streamline your content workflows, I have the experience and technical prowess to build the perfect solution. Let's make content management a breeze for your online presence.</p>

		</div>

		</div>

	</div>

</section>

<!-- end of service section -->



<!-- project section -->

<section id="projects">

	<div class="projects container">

		<div class="projects-header">

			<h1 class="section-title">Recent <span>Projects</span></h1>

		</div>

	    <div class="all-projects">

			<div class="project-item">

	        	<div class="project-info">

					<h1 class="project-title">Tw<span>i</span>sk</h1></a>

					<h2>Interactive Voice Response (IVR) System</h2>

					<p>This Interactive Voice Response (IVR) System is a powerful automation solution built using the Twilio API. It is designed to initiate calls, record conversations, transcribe the calls, extract digits from the transcriptions, and save the extracted data in a text file. This system offers a versatile and efficient way to handle voice communication and data extraction.</p>
					<div>
						<br>
						<p><a href="https://github.com/Faluyi/IVR-System"><span>Click to check it out</span></a></p>
					</div>
				</div>

				<div class="project-img"><img src="{{ url_for('static', filename='images/twisk.png')}}" alt="img"></div>

			</div>

		<div class="project-item">

			<div class="project-info">

					<h1 class="project-title">Tri<span>v</span>ia</h1>

					<h2>API for React Frontend project</h2>

					<p>This API seamlessly integrates with React frontends, granting access to an extensive database of trivia questions and categories, facilitating dynamic and interactive trivia experiences for users. Its efficient communication capabilities ensure a smooth and engaging user experience, highlighting my commitment to delivering top-tier web development solutions.</p>

					<div>
						<br>
						<p><a href="https://github.com/Faluyi/Trivia"><span>Click to check it out</span></a></p>
					</div>
			</div>
			
			<div class="project-img"><img src="{{ url_for('static', filename='images/trivia.png')}}" alt="img"></div>

		</div>			

		<div class="project-item">

			<div class="project-info">

				<h1 class="project-title">D<span>a</span>sh</h1>

					<h2>Data/Task Management Web Application</h2>

					<p>The data management system was designed for the Smart Systems Research Laboratory to allow users to enter and manage data, generate custom reports, and with a user-friendly interface.</p>

					<div>
						<br>
						<p><a href="https://github.com/Faluyi/SSRL-SWEP-PROJECT"><span>Click to check it out</span></a></p>
					</div>
			</div>

			<div class="project-img"><img src="{{ url_for('static', filename='images/dash.png')}}" alt="img"></div>

		</div>

		<div class="project-item">

			<div class="project-info">

				<h1 class="project-title">F<span>yy</span>ur</h1>
					
					<h2>Artiste booking site</h2>

					<p>Fyyur is a musical venue and artist booking site that facilitates the discovery and bookings of shows between local performing artists and venues. This site lets you list new artists and venues, discover them, and list shows with artists as a venue owner.</p>
					<div>
						<br>
						<p><a href="https://github.com/Faluyi/Fyyur"><span>Click to check it out</span></a></p>
					</div>
			</div>

     		<div class="project-img"><img src="{{ url_for('static', filename='images/fyyur.png')}}" alt="img"></div>

		</div>

		

		</div>

	</div>

	



</section>



<!-- project section ends here-->



<!-- about section -->

<section id="about">

	<div class="about container">

		<div class="col-left">

			<div class="about-img"><img src="{{ url_for('static', filename='images/image.jpg')}}" alt="img"></div>

		</div>

		<div class="col-right">

			<h1 class="section-title">About <span>me</span></h1>

			<h2>Full Stack Web Developer</h2>

			<p>Reliable and skilled Full Stack Website Developer with over 3 years of experience in creating dynamic, responsive and fully functional 
				web application. Proficient in Python, HTML, CSS, Bootstrap 5, JavaScript, and Flask. Demonstrated expertise in building 
				RESTful APIs and web applications using Flask, and effectively communicating with databases such as MySQL, 
				PostgreSQL, and MongoDB. Maintained a stellar five-star reputation over the years on Fiverr, consistently delivering 
				high-quality websites using CMS platforms like WordPress and Wix to ensure client satisfaction. Currently serving as 
				a Full Stack Web Developer Intern at the Smart Systems Research Laboratory, applying system analysis and design 
				principles to develop fully functional and custom web applications with a focus on lightweight, responsive design, 
				and optimal user experience.</p>

			<a href="https://drive.google.com/open?id=11g_cM-ZmCYbbGqJANa48jQZxb8-a--jE&usp=drive_fs" class="cta">Download Resume</a>

		</div>

	</div>

	

</section>



<!-- end about section -->



<!-- contact section -->

<section id="contact">

	<div class="contact container">

		<div class="section-title"><h1>contact <span>info</span></h1></div>

		<div class="contact-items">

			<div class="contact-item">

				<div class="contact-icon"><img src="{{ url_for('static', filename='images/contacts.png')}}"></div>

				<div class="contact-info">

					<h1>Phone</h1>

					<h2>+234 70681 62549</h2>

					<h2>+234 70681 62549</h2>

				</div>

			</div>

			<div class="contact-item">

				<div class="contact-icon"><img src="{{ url_for('static', filename='images/gmail.png')}}"></div>

				<div class="contact-info">

					<h1>Email</h1>

					<h2>phirmzhy@gmail.com</h2>

					<h2>phirmzhy@gmail.com</h2>

				</div>



			</div>



			<div class="contact-item">

				<div class="contact-icon"><img src="{{ url_for('static', filename='images/address.png')}}"></div>

				<div class="contact-info">

					<h1>Address</h1>

					<h2>Apatapiti, FUTA South gate, Akure</h2>

					<h2>Apatapiti, FUTA South gate, Akure</h2>

				</div>

			</div>

			</div>

		</div>



	</div>

	

</section>



<!-- End of contact section -->



<!--- footer -->

<section id="footer">

	<div class="footer container">

		<div class="brand">

			<h1><span>F</span>ALUYI <span>I</span>SAIAH</h1></div>

		<h2>Your Complete Web Solution</h2>



		<div class="social-icon">

			<div class="social-item">

				<a href="https://web.facebook.com/phaluyee.hisaryar"><img src="{{ url_for('static', filename='images/facebook.jpg')}}"></a>

			</div>

			<div class="social-item">

				<a href="https://github.com/Faluyi"><img src="{{ url_for('static', filename='images/github.jpg')}}"></a>

			</div>

			<div class="social-item">

				<a href="https://www.linkedin.com/in/faluyiisaiah/"><img src="{{ url_for('static', filename='images/linkedln.jpg')}}"></a>

			</div>

		</div>

		<p>copyright  © 2021 Faluyi. All rights reserved</p>

	</div>

</section>



<!--- end of footer -->

<script type="text/javascript" src="{{ url_for('static', filename='app.js')}}"></script>

</body>

</html>